@import url('https://fonts.googleapis.com/css?family=Roboto:wght;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #7158e2;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-position: center center;
  background-size: cover;
  transition: 0.4s;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.slider-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 70vh;
  width: 70vw;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.slide {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -15vh;
  left: -15vw;
  transition: 0.4s ease;
  z-index: 200;

}

.slide.active {
  opacity: 1;
}

.arrow {
  position: fixed;
  z-index: 100;
  background-color: transparent;
  padding: 20px;
  color: rgb(255, 166, 0);
  cursor: pointer;
  font-size: 30px;
  z-index: 100;
  border: 2px solid orange;
  top: 50%;
  transform: translateY(-50%);
}

.arrow:focus{
  outline: 0;
}

.left-arrow {
  border-right: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  left: calc(15vw - 68px);
}

.right-arrow {
  border-left: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  right: calc(15vw - 68px);
}